.containerCount{
    width: 100%;
    height:320px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}

.containerButton{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

h3 {
    font-size: 1 em;
    margin-right: 14px;
    margin-bottom: 93px;
    padding: auto;
}

h1{
    font-size: 75px;
    margin-bottom: 70px;   
}


a {
    position:fixed ;
    bottom: 1rem;
    right: 1rem;
    text-decoration: none;
    color:white;
    background: rgb(14, 13, 13);
    padding: 6px 10px;
    border-radius:5px;
    font-size: 15px;    
}